language: python

sudo: required

before_install: pip install httprunner

script: hrun testcases/test_home_login.yml


after_success:
  - cd /home/travis/build/Nooooooo1/apitest/
  - git init
  - git add reports
  - git commit -m "  add report"
  - git push -f "https://c6a7d1bc1fb0084aae81e99cd106cbea6352d3b0@github.com/Nooooooo1/apitest.git" master:master

notifications:
  email:
    recipients:
      - m18392283343@163.com
    on_success: always
