language: python

sudo: required

before_install: pip install httprunner

script: hrun testcases/test_home_login.yml

after_success:
  - cd /home.travis/build/Nooooooo1/apitest/
  - git init
  - git config user.name "No."
  - git config user.email "m18392283343@163.com"
  - git add --all.
  - git commit -m "[ci skip]  add report"
  - git push --force --quiet  "https://${git_token}@${git_addr}" master

notifications:
  email:
    recipients:
      - m18392283343@163.com
    on_success: always
