language: python
sudo: required
before_install: pip install httprunner
script: hrun testcases/test_home_login.yml
after_script:
  - cd /home/travis/build/Nooooooo1/apitest/
  - git add reports
  - git commit -m "[ci skip]  add report"
  - git push --force --quiet "https://${git_token}@${git_addr}" master:master
notifications:
  email:
    recipients:
      - m18392283343@163.com
    on_success: always
