language: python

sudo: required

before_install: pip install httprunner

script:
  - hrun testcases/test_home_login1.yml
  - hrun testcases/parameter.yml


after_script:
  - cd /home/travis/build/Nooooooo1/apitest/
  - git config --global user.name "Nooooooo1"
  - git config --global user.email "m18392283343@163.com"
  - git add reports
  - git checkout master
  - git commit -m "[ci skip]  add report"
  - git push -f "https://${git_token}@${git_addr}" master:master

notifications:
  email:
    recipients:
      - m18392283343@163.com
    on_success: always
