language: python

sudo: required

before_install: pip install httprunner

script: hrun testcases/test_home_login.yml


after_script:
  - cd /home/travis/build/Nooooooo1/apitest/
  - git init
#  - cd /home/travis/build/Nooooooo1/apitest/reports
#  - ls
  - git config --global user.name "Nooooooo1"
  - git config --global user.email "m18392283343@163.com"
  - git add reports
  - git commit -m "  add report"
  - git push -f "https://${git_token}@${git_addr}" origin master:master

notifications:
  email:
    recipients:
      - m18392283343@163.com
    on_success: always
